.DS_Store
Test_Data/
original_pipeline/1.qualify_read/mybulk_A/
original_pipeline/1.qualify_read/mybulk_B/
original_pipeline/1.qualify_read/secondary_readfiles/AdelieLG13-paired_R1.fastq.gz
original_pipeline/1.qualify_read/secondary_readfiles/AdelieLG13-paired_R2.fastq.gz
original_pipeline/1.qualify_read/secondary_readfiles/AdelieLG13-unpaired_R1.fastq.gz
original_pipeline/1.qualify_read/secondary_readfiles/AdelieLG13-unpaired_R2.fastq.gz
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.1.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.2.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.3.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.4.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.rev.1.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.rev.2.bt2
original_pipeline/2.make_consensus/secondary_reference/AdelieLG13_secondaryref.bam
original_pipeline/3.alignment/readfilelist_AB
original_pipeline/mybulk_A/A_1_R1.fastq.gz
original_pipeline/mybulk_A/A_1_R2.fastq.gz
original_pipeline/mybulk_A/A_2_R1.fastq.gz
original_pipeline/mybulk_A/A_2_R2.fastq.gz
original_pipeline/mybulk_A/A_3_R1.fastq.gz
original_pipeline/mybulk_A/A_3_R2.fastq.gz
original_pipeline/mybulk_B/B_1_R1.fastq.gz
original_pipeline/mybulk_B/B_1_R2.fastq.gz
original_pipeline/mybulk_B/B_2_R1.fastq.gz
original_pipeline/mybulk_B/B_2_R2.fastq.gz
original_pipeline/mybulk_B/B_3_R1.fastq.gz
original_pipeline/mybulk_B/B_3_R2.fastq.gz
original_pipeline/parental_readfiles/AdelieLG13_R1.fastq.gz
original_pipeline/parental_readfiles/AdelieLG13_R2.fastq.gz
Test_Data/Adelie_LG13reads.R1.fq.gz
Test_Data/Adelie_LG13reads.R2.fq.gz
